<%= react_component('Song') %>

<%= form_for @song, url: resources_songs_create_path, multipart: true do |f| %>
  <%= f.label :flie, value: '選択' %>
  <%= f.file_field :file %>
  <p><%= f.submit '送信' %></p>
<% end %>